html {
	scroll-behavior: smooth;
}

body {
	color: #333;
	letter-spacing: 0.8px;
	margin: 0;
	font-size: 24px;
}

@keyframes swing {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(10deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(5deg);
	}
	70% {
		transform: rotate(0deg);
	}
	80% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes sonar {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
body {
	font-size: 0.9rem;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/
.btn-dark {
	background-color: #132040F0 !important;
	border-color: #132040F0 !important;
	z-index: 9999;
}
.page-wrapper .theme {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 4px;
	margin: 2px;
}

.page-wrapper .theme.chiller-theme {
	background: #132040F0;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
	left: 0px;
}

@media screen and (min-width: 768px) {
	.page-wrapper.toggled .page-content {
		padding-left: 300px;
	}
}

/*----------------show sidebar button----------------*/
#show-sidebar {
	position: fixed;
	left: 0;
	top: 10px;
	border-radius: 0 4px 4px 0px;
	width: 35px;
	transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
	left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
	width: 260px;
	height: 100%;
	max-height: 100%;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 999;
}

.sidebar-wrapper ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar-wrapper a {
	text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
	max-height: calc(100% - 30px);
	height: calc(100% - 30px);
	overflow-y: auto;
	position: relative;
}

.sidebar-content.desktop {
	overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
	text-transform: uppercase;
	font-weight: bold;
	flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
	cursor: pointer;
	font-size: 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
	padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
	font-weight: bold;
	font-size: 14px;
	padding: 15px 20px 5px 20px;
	display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	position: relative;
	padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
	margin-right: 10px;
	font-size: 12px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
	display: inline-block;
	animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f105";
	font-style: normal;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background: 0 0;
	position: absolute;
	right: 15px;
	top: 14px;
}
.sidebar-dropdown a {
	cursor: pointer;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
	padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
	padding-left: 25px;
	font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
	content: "\f111";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 10px;
	font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
	float: right;
	margin-top: 8px;
	margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
	float: right;
	margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
	display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
	transform: rotate(90deg);
	right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
}

.sidebar-footer > p {
	top: 5px;
	flex-grow: 1;
	text-align: center;
	height: 30px;
	line-height: 30px;
	position: relative;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #132040F0;
	border: 0px none #ffffff;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #132040F0;
}
::-webkit-scrollbar-thumb:active {
	background: #132040F0;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
	background: #132040F0;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
	border-top: 1px solid #1a2c57F0;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	border-color: transparent;
	box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
	color: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
	color: #b8bfceF0;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
	color: #fff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
	color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
	color: #15c5ff;
	text-shadow: 0px 0px 10px rgba(93, 177, 255, 0.459);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	background: #25407ea1;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
	color: #cfcff5;
}

.chiller-theme .sidebar-footer {
	font-size: 0.8em;
	background: #25407Ea1;
	box-shadow: 0px -1px 5px #1a2c57a1;
	border-top: 1px solid #25407ea1;
}

.chiller-theme .sidebar-footer > a:first-child {
	border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
	border-right: none;
}

.title-message {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 3;
	text-align: center;
	margin-top: -175px;
}

.title-message .heading p {
	color: #fff;
	letter-spacing: 3px;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-message .heading .main,
.loading {
	font-size: 10em;
	font-family: 'Streamster', Helvetica, Sans-Serif;
}
.title-message .heading .sub {
	font-size: 2em;
}

.compensate-for-scrollbar {
	margin-right: 17px !important;
}

.section {
	padding: 100px 0;
}

.container {
	min-width: 65%;
}
.loading {
	position: relative;
	color: #ffff;
	top: 3em;
}
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #132040;
	z-index: 9999;
}

.inner {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(../Images/Icons/loading.gif) no-repeat center center;
}

.arrow {
	position: absolute;
	top: 90%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
}
.arrow span {
	display: block;
	width: 50px;
	height: 50px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
	animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
	animation-delay: -0.4s;
}
@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}
#about,
#stats {
	background-color: #d9dee6;
}

#info {
	margin-top: -200px;
}
#info,
#contact {
	background-color: #132040;
	color: #fff;
}

.about-photo {
	max-width: 100%;
}

.about-text {
	font-size: 1.2em;
	padding-top: 8em;
}

.about-text h3 {
	margin-bottom: 20px;
}
#owl-two {
	padding: 0 40px;
}
#section-card {
	margin-top: -9em;
	background-color: #eceef2 !important;
	opacity: none;
}

.info-section .info-description {
	margin-bottom: 5em;
}

.achiev {
	text-align: center;
	margin-left: 10px;
}
.chart {
	position: relative;
	width: 200px;
	height: 200px;
	display: inline-block;
	text-align: center;
	margin-bottom: 2em;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.chart .percent {
	line-height: 200px;
	color: #fff;
	display: inline-block;
	font-size: 3em;
}

.owl-carousel .nav-btn {
	position: absolute;
	cursor: pointer;
	top: 75px !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
	pointer-events: none;
	opacity: 0.2;
}
.owl-carousel .owl-nav {
	overflow: hidden;
	height: 0px;
}

.next-slide,
.prev-slide {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.owl-carousel .next-slide {
	right: -2.5em;
	background-image: url(../Images/Icons/Next.png);
}

.owl-carousel .prev-slide {
	left: -2em;
	background-image: url(../Images/Icons/Prev.png);
}

.square-item {
	margin-top: 2em;
	position: relative;
}

.square-inner-container {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}
.square-icon {
	position: absolute;
	left: 45%;
	top: -50px;
	height: 60px;
	font-size: 5em;
	color: #132040;
	text-align: center;
}
.square-inner-container :before,
.square-inner-container :after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}

.square-inner-container :before {
	right: 0px;
}
.square-inner-container :after {
	left: 0px;
}
.square-content h2 {
	font-size: 5em;
	margin-bottom: 10px;
	font-weight: 400;
	color: #132040;
}
.square-content h3 {
	font-size: 1em;
	margin: 0;
	font-weight: 600;
}

.contact-button {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 2em;
	border: 1px solid #fff;
	border-radius: 3px;
	font-weight: 700;
	transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.contact-button:hover {
	text-decoration: none;
	color: #132040;
	background-color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}
.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}
.filter a:hover {
	text-decoration: none;
}

.filter li {
	display: inline-block;
	padding: 5px;
}

.filter .current {
	background-color: #132040;
	border-color: #132040;
	color: #fff;
}

.section .heading {
	text-align: center;
	padding: 40px 0 !important;
	width: 100%;
}
.items-container {
	width: 100%;
}
.items {
	padding: 0;
}
.item {
	margin: 5%;
}
.items li {
	display: inline-block;
	padding: 5px;
}

.items li img {
	width: 100%;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.icons {
	position: absolute;
	width: 90px;
	height: 40px;
	left: 55%;
	top: 50%;
	margin: -20px auto 0 -50px;
	z-index: 3;
}

.items .icons i {
	color: #fff;
	font-size: 1.5em;
	margin: 8px;
}

.items a {
	width: 40px;
	height: 40px;
	background-color: rgba(19, 32, 64, 0.8) !important;
	position: relative;
	display: inline-block;
	transition: all 0.2s linear, 1s;
	-webkit-transition: all 0.2s linear, 0.3s;
	-moz-transition: all 0.2s linear, 0.3s;
	-o-transition: all 0.2s linear, 0.3s;
	-ms-transition: all 0.2s linear, 0.3s;
}

.items .image-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	transition: all 0.2s linear, 1s;
	-webkit-transition: all 0.2s linear, 1s;
	-moz-transition: all 0.2s linear, 1s;
	-o-transition: all 0.2s linear, 1s;
	-ms-transition: all 0.2s linear, 1s;
}

.items .item:hover .image-overlay {
	opacity: 1 !important;
}

.items .open-button {
	float: left;
	left: -9em;
	opacity: 0;
}
.items .project-link {
	float: right;
	right: -9em;
	opacity: 0;
}
.items .item:hover .open-button {
	left: 0px;
	opacity: 1;
}
.items .item:hover .project-link {
	right: 0px;
	opacity: 1;
}

.copyright-section {
	background-color: #132040;
	color: #fff;
	padding: 15px 5px;
}
.copyright-section p {
	margin: 0;
}

@media screen and (max-width: 3320px) {
	.square-icon {
		left: 42%;
	}
	.loading {
		margin-top: -2em;
	}
}

@media screen and (max-width: 2560px) {
	.square-icon {
		left: 40%;
	}
}

@media screen and (max-width: 2220px) {
	.square-icon {
		left: 37%;
	}
}
@media screen and (max-width: 2220px) {
	.square-icon {
		left: 36%;
	}
}

@media screen and (max-width: 1820px) {
	.square-icon {
		left: 35%;
	}
}

@media screen and (max-width: 1200px) {
	.title-message .heading .main,
	.loading {
		font-size: 8em;
	}
	.loading {
		margin-top: -2.5em;
	}
	.title-message .heading .sub {
		font-size: 1.4em;
	}
	.about-text {
		padding-top: 3em;
	}
	.square-icon {
		left: 31%;
	}
	.owl-carousel .prev-slide {
		left: -2.7em;
	}
	.owl-carousel .next-slide {
		right: -3em;
	}
}
@media screen and (max-width: 992px) {
	.title-message .heading .main,
	.loading {
		margin-top: -0.6em;
		font-size: 7em;
	}
	.loading {
		margin-top: -2em;
	}
	.title-message .heading .sub {
		font-size: 1.2em;
	}
	.about-text {
		padding-top: 1em;
	}

	.owl-carousel .prev-slide {
		left: -3em;
	}
	.owl-carousel .next-slide {
		right: -3.5em;
	}
}
@media screen and (max-width: 768px) {
	.title-message .heading .main,
	.loading {
		font-size: 3em;
		margin-top: 2.5em;
	}

	.loading {
		margin-top: 1em;
	}
	.title-message .heading .sub {
		font-size: 1em;
	}

	.square-icon {
		margin-left: 1%;
	}
}
@media screen and (max-width: 576px) {
	.title-message .heading .main,
	.loading {
		font-size: 3em;
		margin-top: 2.5em;
	}

	.loading {
		margin-top: -1em;
	}

	footer {
		font-size: 0.7em;
	}
	.title-message .heading .sub {
		font-size: 0.8em;
	}
	.owl-carousel .prev-slide {
		left: 1px;
	}
	.owl-carousel .next-slide {
		right: 1px;
	}
	.square-icon {
		margin-left: 10%;
	}
}

@media screen and (max-width: 414px) {
	.square-icon {
		margin-left: 7%;
	}
}
@media screen and (max-width: 376px) {
	.square-icon {
		margin-left: 6%;
	}
}

@media screen and (max-width: 320px) {
	.square-icon {
		margin-left: 2%;
	}
	.owl-carousel .prev-slide {
		left: -5px;
	}
	.owl-carousel .next-slide {
		right: -12px;
	}
}
