#slides {
  position: relative;
  z-index: 0;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}

.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%;
}
.slides-navigation a {
	position: absolute;
	display: block;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
}
.slides-navigation .next,
.slides-navigation .prev {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../Images/Icons/Next.png);
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../Images/Icons/Prev.png);
}
